[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
djangorestframework = "*"
psycopg2-binary = "*"
django-debug-toolbar = "*"
redis = "*"
celery = "*"
django-templated-mail = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"

[requires]
python_version = "3.10"
